/*
// require jquery
// require jquery_ujs
// require jquery-ui
//= require fassets_presentations/jquery.ui.nestedSortable
//= require jquery.collapsiblePanel-0.2.0
//= require fassets_presentations/jquery.myimgscale-0.2
// require fancybox
*/
$(document).ready(function(){
  $(function(){
    $(".collapsable_frame").collapsiblePanel({
      collapsedImage: "<%= image_path 'fassets_core/collapsed.png' %>",
      expandedImage: "<%= image_path 'fassets_core/collapse.png' %>",
      titleQuery: ".frametitle",
      startCollapsed: true
    })
    $(".collapsable_topic").collapsiblePanel({
      collapsedImage: "<%= image_path 'fassets_core/collapsed.png' %>",
      expandedImage: "<%= image_path 'fassets_core/collapse.png' %>",
      titleQuery: ".topictitle",
      startCollapsed: true
    })
  });
  $('.sortable_frames').nestedSortable({
    disableNesting: 'no-nest',
    forcePlaceholderSize: true,
    handle: 'div',
    helper: 'clone',
    items: 'li',
    maxLevels: 5,
    opacity: .6,
    placeholder: 'placeholder',
    revert: 250,
    tabSize: 35,
    tolerance: 'pointer',
    toleranceElement: '> div',
    update: function(ev,ui){
      $.ajax({
              type: 'post',
              data: "frame="+JSON.stringify($(".sortable_frames").nestedSortable('toArray')),
              dataType: 'json',
              complete: function(request){
                                          $('.frame').effect('highlight',{},2000);
                                         },
              url: "/"+$('#frames').attr('path').replace(/\./g,"/")
             })
    }
  });
  var drag_opts = {
    handle: ".handle",
    //helper: "clone",
    cursorAt: {top: 48,left: 48},
    connectToSortable: "#tray ol",
    appendTo: "body",
    helper: function(){
      var asset = $(this).clone();
      asset.css("width",96);
      asset.css("height",96);
      return $(asset);
    },
    start:function(e, ui) {
      $('#tray ol').addClass("active");
    },
    stop:function(e, ui) {
      $(this).parent().parent().parent().parent().find(".content .slot_asset").html("Drop Asset here!");
      $(this).parent().parent().parent().parent().find(".name a").remove();
      $(this).parent().parent().parent().parent().find(".name .drop_asset").remove();
      $('#tray ol').removeClass("active");
    }
  }
  var drag_opts_tray = {
    handle: ".handle",
    helper: "clone",
    connectToSortable: "#tray ol",
    appendTo: "body",
    start:function(e, ui) {
      $('#tray ol').addClass("active");
    },
    stop:function(e, ui) {
      $('#tray ol').removeClass("active");
    }
  }
  $('li.slot').droppable({
    accept:'.asset',
    activeClass:'active',
    hoverClass:'hover',
    drop:function(ev,ui){
      var id;
      var asset = $(ui.draggable).clone();
      if ($(ui.draggable).attr("rel") != "undefined") {
        id = $(ui.draggable).attr("rel");
        asset.find("input").remove();
        asset.attr("id", "asset_" + id);
      } else {
        id = $(ui.draggable).attr("id").split('_')[1];
      }
      if ($(ui.draggable).attr("frame_id") != undefined){
        if ($(ui.draggable).attr("mode") == "markup"){
          var presentation_id = $('#main').attr("presentation_id");
          var frame_id = $(ui.draggable).attr("frame_id");
          var slot_name = $(ui.draggable).attr("id");
          var slot = $(this);
          $.get("/presentations/"+presentation_id+"/frame/"+frame_id+"/slot_markup?name="+slot_name, function(data){
            slot.find(".name select").val("markup");
            slot.find('.content .container textarea').val(data);
            slot.find(".slot_asset").hide();
            slot.find(".content .container textarea").show();
            $(ui.draggable).remove();
            $('.clipboard_slot[value='+frame_id+'_'+slot_name+']').remove();
            resize_clipboard();
            return;
          });
        }else{
          id = $(ui.draggable).attr("asset_id");
          $(this).find("input").attr("value",id);
          $(this).find(".name select").val("asset");
          var slot = $(this);
          $(this).find(".slot_asset").load('/asset/'+id+'/preview', function(){
            resize_slots();
            $(".asset").draggable(drag_opts);
            if ($(ui.draggable).attr("frame_id") != undefined){
              var frame_id = $(ui.draggable).attr("frame_id");
              var slot_name = $(ui.draggable).attr("id");
              $('.clipboard_slot[value='+frame_id+'_'+slot_name+']').remove();
            }
            $(ui.draggable).remove();
            slot.find(".slot_asset").show();
            slot.find(".content .container textarea").hide();
            resize_clipboard();
            $('#edit_warning').css('visibility','visible');
          });
        }
      }else{
        $(this).find("input").attr("value",id);
        $(this).find(".name select").val("asset");
        var slot = $(this);
        $(this).find(".slot_asset").load('/asset/'+id+'/preview', function(){
          resize_slots();
          $(".asset").draggable(drag_opts);
          if ($(ui.draggable).attr("frame_id") != undefined){
            var frame_id = $(ui.draggable).attr("frame_id");
            var slot_name = $(ui.draggable).attr("id");
            $('.clipboard_slot[value='+frame_id+'_'+slot_name+']').remove();
          }
          $(ui.draggable).remove();
          slot.find(".slot_asset").show();
          slot.find(".content .container textarea").hide();
          slot.find(".name .preview_markup").hide();
          resize_clipboard();
          $('#edit_warning').css('visibility','visible');
        });
      }
      drop_link = '<%= image_tag("fassets_core/delete.png", :width => "15", :height => "15", :class => "drop_asset") %>'
      if (!$(this).find(".name .drop_asset").length){
        $(this).find(".name").append(drop_link);
        $(".drop_asset").click(function(){
          //$(this).parent().parent().find(".content input").val("");
          $(this).parent().parent().find(".content .slot_asset").html("Drop Asset here!");
          $(this).parent().parent().find(".name a").remove();
          $(this).parent().parent().find(".name .drop_asset").remove();
          $('#edit_warning').css('visibility','visible');
        });
      }
      $('#edit_warning').css('visibility','visible');
    },
  });
  $("button.drop_slot").click(function(){
    $(this).parent().parent().remove();
  });
  $(".drop_asset").click(function(){
    $(this).parent().parent().find(".content input").val("");
    $(this).parent().parent().find(".content .slot_asset").html("Drop Asset here!");
    $(this).parent().parent().find(".name a").remove();
    $(this).parent().parent().find(".name .drop_asset").remove();
    $('#edit_warning').css('visibility','visible');
  });
  $(".preview_markup").click(function(){
    if ($(this).parent().parent().find(".content textarea").is(":visible")){
      $(this).parent().parent().find(".content textarea").hide();
      var markup = $(this).parent().parent().find(".content textarea").val();
      $(this).parent().parent().find(".content .preview").load("/presentations/markup/preview",{markup: markup});
//      $(this).parent().parent().find(".content .preview").css("font-size", $(window).height()/32 + 'px');
      $(this).parent().parent().find(".content .preview").show();
    } else {
      $(this).parent().parent().find(".content .preview").hide();
      $(this).parent().parent().find(".content textarea").show();
    }
  });
  $('#slots select').change(function(){
    var content = $(this).parent().next();
    var text = content.find("textarea");
    var asset = content.find(".slot_asset");
    var preview_button = $(this).parent().find(".preview_markup");
    preview_button_link = '<%= image_tag("fassets_core/markup_preview.png", :width => "15", :height => "15",  :title => "Preview", :class => "preview_markup", :alt => "Preview", :style => "cursor: pointer;") %>';
    if ($(this).val() == "markup") {
      asset.hide();
      if (preview_button.length){
        preview_button.show();
      } else {
        $(this).parent().append(preview_button_link);
      }
      text.show();
    } else {
      preview_button.hide();
      asset.show();
      text.hide();
    }
  });
  $(".sortable_tray .asset").draggable(drag_opts_tray);
  $(".slot_asset .asset").draggable(drag_opts);
  $("#frame_title").live('change', function(){
    $('#edit_warning').css('visibility','visible');
  });
  $(".slot_textarea").live('change', function(){
    $('#edit_warning').css('visibility','visible');
  });
  $("#frame_template").change(function(){
    $('#edit_warning').css('visibility','visible');
  });
  $(".edit_frame select").change(function(){
    $('#edit_warning').css('visibility','visible');
  });
  var setSlotSize = function(name, width, height){
    $('#slot_'+name).css("width",width+"px");
    $('#slot_'+name).css("height",height+"px");
    $('#slot_'+name+' .content').css("width",width+"px");
    $('#slot_'+name+' .content').css("height",height-30+"px");
    $('#slot_'+name+' .content .slot_textarea').css("width",width+"px");
    $('#slot_'+name+' .content .slot_textarea').css("height",height-30+"px");
    $('#slot_'+name+' .content .slot_asset').css("width",width+"px");
    $('#slot_'+name+' .content .slot_asset').css("height",height-30+"px");
  };
  var positionSlot = function(name, top, left){
    $('#slot_'+name).css('position', 'absolute');
    $('#slot_'+name).css('top', top+'px');
    $('#slot_'+name).css('left', left+'px');
    $('#slot_'+name+' .content').css('left', 0+'px');
    $('#slot_'+name+' .content').css('top', 0+'px');
  };
  $('#slot_left .content, #slot_left .slot_asset').resizable({
    handles: 'e',
    resize: function (event,ui){
      var height = $('#main').height();
      var width = $('#main').width();
      var offset_top = 50;
      setSlotSize("left", ui.size.width, height);
      setSlotSize("right", width-ui.size.width-55,height);
      positionSlot("left", offset_top, 0);
      positionSlot("right", offset_top, ui.size.width+55);
      $("#slot_left .switch_left_right").css("position","absolute");
      $("#slot_left .switch_left_right").css("left",ui.size.width+20+"px");
      $("#slot_left .switch_left_right").css("top",ui.size.height/2-10+"px");
      $("#slot_left .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_right .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
    }
  });
  $('#slot_right .content, #slot_right .slot_asset').resizable({
    handles: 'w',
    resize: function (event,ui){
      var height = $('#main').height();
      var width = $('#main').width();
      var offset_top = 50;
      setSlotSize("left", width-ui.size.width, ui.size.height);
      setSlotSize("right", ui.size.width-55,ui.size.height);
      positionSlot("left", offset_top, 0);
      positionSlot("right", offset_top, width-ui.size.width+55);
      $("#slot_left .switch_left_right").css("position","absolute");
      $("#slot_left .switch_left_right").css("left",width-ui.size.width+20+"px");
      $("#slot_left .switch_left_right").css("top",ui.size.height/2-10+"px");
      $("#slot_left .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_right .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
    }
  });
  $('#slot_top .content, #slot_top .slot_asset').resizable({
    handles: 's',
    resize: function (event,ui){
      var height = $(window).height()-250;
      $('#main').css("height", height+"px");
      var width = $('#main').width();
      var offset_top = 50;
      setSlotSize("top", ui.size.width, ui.size.height);
      setSlotSize("bottom", ui.size.width, height-ui.size.height-offset_top-20);
      positionSlot("top", offset_top, 0);
      positionSlot("bottom", offset_top+ui.size.height+10);
      $("#slot_top .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_bottom .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
    }
  });
  $('#slot_topleft .content').resizable({
    handles: 's, e',
    resize: function (event,ui){
      var height = $(window).height()-250;
      $('#main').css("height", height+"px");
      var width = $('#main').width();
      var offset_top = 50;
      console.log(ui.size.height);
      setSlotSize("topleft", ui.size.width, ui.size.height+30);
      setSlotSize("topright", width-ui.size.width-55, ui.size.height+30);
      setSlotSize("bottom", width, height-ui.size.height-offset_top-50);
      positionSlot("topleft", offset_top, 0);
      positionSlot("topright", offset_top, ui.size.width+55);
      positionSlot("bottom", offset_top+ui.size.height+40);
      $(".switch_bottom_topleft").css("position","absolute");
      $(".switch_bottom_topleft").css("left",(ui.size.width)/2+"px");
      $(".switch_bottom_topright").css("position","absolute");
      $(".switch_bottom_topright").css("left",ui.size.width+($('#slot_topright').width()/2)+"px");
      $(".switch_topleft_topright").css("position","absolute");
      $(".switch_topleft_topright").css("left",ui.size.width+20+"px");
      $(".switch_topleft_topright").css("top",ui.size.height/2+"px");
      $("#slot_topleft .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_topright .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_bottom .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
    }
  });
  $('#slot_topright .content').resizable({
    handles: 's, w',
    resize: function (event,ui){
      var height = $(window).height()-240;
      $('#main').css("height", height+"px");
      var width = $('#main').width();
      var offset_top = 50;
      setSlotSize("topleft", width-ui.size.width, ui.size.height);
      setSlotSize("topright", ui.size.width-55, ui.size.height);
      setSlotSize("bottom", width, height-ui.size.height-offset_top-30);
      positionSlot("topleft", offset_top, 0);
      positionSlot("topright", offset_top, width-ui.size.width+55);
      positionSlot("bottom", offset_top+ui.size.height+10);
      $(".switch_bottom_topleft").css("position","absolute");
      $(".switch_bottom_topleft").css("left",(width-ui.size.width)/2+"px");
      $(".switch_bottom_topright").css("position","absolute");
      $(".switch_bottom_topright").css("left",width-ui.size.width+($('#slot_topright').width()/2)+"px");
      $(".switch_topleft_topright").css("position","absolute");
      $(".switch_topleft_topright").css("left",width-ui.size.width+20+"px");
      $(".switch_topleft_topright").css("top",ui.size.height/2+"px");
      $("#slot_topleft .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_topright .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_bottom .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
    }
  });
  var switchSlots = function(slot1, slot2){
    console.log("Switching "+slot1+" and "+slot2);
    var mode1 = $("#slot_"+slot1+" #frame_content_"+slot1+"_mode").val();
    var asset_id1 = $("#slot_"+slot1+" #frame_content_"+slot1+"_asset_id").val();
    var asset1 = $("#slot_"+slot1+" .slot_asset").html();
    var markup1 = $("#slot_"+slot1+" #frame_content_"+slot1+"_markup").val();
    var mode2 = $("#slot_"+slot2+" #frame_content_"+slot2+"_mode").val();
    var asset_id2 = $("#slot_"+slot2+" #frame_content_"+slot2+"_asset_id").val();
    var asset2 = $("#slot_"+slot2+" .slot_asset").html();
    var markup2 = $("#slot_"+slot2+" #frame_content_"+slot2+"_markup").val();
    $("#slot_"+slot1+" #frame_content_"+slot1+"_mode").val(mode2);
    $("#slot_"+slot1+" #frame_content_"+slot1+"_asset_id").val(asset_id2);
    $("#slot_"+slot1+" .slot_asset").html(asset2);
    $("#slot_"+slot1+" #frame_content_"+slot1+"_markup").val(markup2);
    $("#slot_"+slot1+" #frame_content_"+slot1+"_mode").trigger("change");
    $("#slot_"+slot2+" #frame_content_"+slot2+"_mode").val(mode1);
    $("#slot_"+slot2+" #frame_content_"+slot2+"_asset_id").val(asset_id1);
    $("#slot_"+slot2+" .slot_asset").html(asset1);
    $("#slot_"+slot2+" #frame_content_"+slot2+"_markup").val(markup1);
    $("#slot_"+slot2+" #frame_content_"+slot2+"_mode").trigger("change");
    resize_slots();
  };
  $('.switch_bottom_top').click(function(e){
   e.preventDefault();
   switchSlots("bottom","top");
  });
  $('.switch_bottom_topleft').click(function(e){
    e.preventDefault();
    switchSlots("bottom","topleft");
  });
  $('.switch_bottom_topright').click(function(e){
    e.preventDefault();
    switchSlots("bottom","topright");
  });
  $('.switch_left_right').click(function(e){
    e.preventDefault();
    switchSlots("left","right");
  });
  $('.switch_topleft_topright').click(function(e){
    e.preventDefault();
    switchSlots("topleft","topright");
  });
  $('.clipboard_slot').each(function(idx, el){
    var width = $(window).width();
    var presentation_id = $('#main').attr("presentation_id");
    var frame_id = $(el).val().split("_")[0];
    var name = $(el).val().split("_")[1];
    if ($('#clipboard').length == 0){
      $('#tray').after('<div id="clipboard"><ol class="clipboard"></ol></div>');
      $('#tray').css("width", width - $('.clipboard_slot').length*120-40);
    }
    $.get("/presentations/"+presentation_id+"/frame/"+frame_id+"/tray_slot?name="+name, function(data){
      $('.clipboard').append(data);
      $('.clipboard .asset').qtip({
        content: {
          text: false
        },
        title: {
          text: "Slot:"
        },
        style: {
          name: 'dark', tip: true
        },
        position: {
          corner: {
            target: 'topMiddle',
            tooltip: 'bottomMiddle'
          }
        }
      })
      $('.clipboard .asset').draggable();
      resize_clipboard();
    });
  });
  var resize_clipboard = function(){
    if ($('.clipboard_slot').length == 0){
      $('#clipboard').remove();
      $('#tray').css("width", $(window).width()-20);
      $('#tray').css("left", 0);
    }else{
      $('#tray').css("width", $(window).width() - $('#clipboard').width()-40);
      $('#tray').css("left", $('#clipboard').width()+30);
    }
  };
  var resize_slots = function(){
    console.log("resize_slots()");
    var height = $(window).height()-310;
    $('#main').css("height", height+"px");
    $('#main').css("width", $(window).width()*0.78+"px");
    width = $('#main').width();
    var offset_top = 50;
    $('.content').each(function(idx, el){
      console.log($(el).parent().attr("width"));
      if ($(el).parent().attr("width") != ""){
        var perc_w = parseInt($(el).parent().attr("width"))/100;
        var perc_h = parseInt($(el).parent().attr("height"))/100;
      } else {
        var perc_w = 0.5;
        var perc_h = 0.5;
      }
      if ($(el).parent().attr("id") == "slot_top"){
        setSlotSize("top", width, height*perc_h);
        positionSlot("top", offset_top, 0);
      }else if ($(el).parent().attr("id") == "slot_bottom"){
        if ($('#slot_topleft').length > 0){
          var top_height = $('#slot_topleft').height();
        } else if ($('#slot_top').length > 0){
          var top_height = $('#slot_top').height();
        }
        setSlotSize("bottom", width, height-top_height-10);
        positionSlot("bottom", offset_top+top_height+10, 0);
      }else if ($(el).parent().attr("id") == "slot_left"){
        setSlotSize("left", width*perc_w, height);
        positionSlot("left", offset_top, 0);
        $("#slot_left .switch_left_right").css("position","absolute");
        $("#slot_left .switch_left_right").css("left",width*perc_w+20+"px");
        $("#slot_left .switch_left_right").css("top", height/2+"px");
      }else if ($(el).parent().attr("id") == "slot_right"){
        setSlotSize("right", width-$('#slot_left').width()-55, height)
        positionSlot("right", offset_top, $('#slot_left').width()+55);
      }else if ($(el).parent().attr("id") == "slot_center"){
        setSlotSize("center", width, height);
        positionSlot("center", offset_top, 0);
      }else if ($(el).parent().attr("id") == "slot_topleft"){
        setSlotSize("topleft", width*perc_w, height*perc_h);
        positionSlot("topleft", offset_top, 0);
        $(".switch_bottom_topleft").css("position","absolute");
        $(".switch_bottom_topleft").css("left",(width*perc_w)/2+"px");
        $(".switch_topleft_topright").css("position","absolute");
        $(".switch_topleft_topright").css("left",width*perc_w+20+"px");
        $(".switch_topleft_topright").css("top",(height*perc_h)/2+"px");
      }else if ($(el).parent().attr("id") == "slot_topright"){
        setSlotSize("topright", width-$('#slot_topleft').width()-55, height*perc_h);
        positionSlot("topright", offset_top, $('#slot_topleft').width()+55);
        $(".switch_bottom_topright").css("position","absolute");
        $(".switch_bottom_topright").css("left",width*perc_w+($('#slot_topleft').width()/2)+"px");
      }else if ($(el).parent().attr("id") == "slot_centertitle"){
        setSlotSize("centertitle", width, height*0.5);
        positionSlot("centertitle", offset_top, 0);
      }else if ($(el).parent().attr("id") == "slot_subtitle"){
        setSlotSize("subtitle", width, height*0.45);
        positionSlot("subtitle", offset_top+height*0.55, 0);
      }
      $("#slot_center .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_top .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_bottom .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_left .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_right .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_topleft .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
      $("#slot_topright .slot_asset img").scaleImage({
        parent: ".slot_asset",
        scale: 'fit',
        center: true
      });
    });
    height = $(window).height()-310;
    $('#main').css("height", height+"px");
    $('#sidebar').css("height", height+50);
    $(".collapsible").collapsiblePanel({
      collapsedImage: "<%= image_path 'fassets_core/collapsed.png' %>",
      expandedImage: "<%= image_path 'fassets_core/collapse.png' %>",
      titleQuery: "h2.title",
      startCollapsed: true
    });
  }
  var show_catalog = function() {
    $.fancybox.showActivity();
	  $.ajax({
		  type		: "GET",
		  cache	: false,
		  url		: "/list_catalogs",
		  success: function(data) {
			  $.fancybox({
          content: data
        });
		  }
	  });
  };
  resize_slots();
  $("#frame_save").click(function(e){
    //e.preventDefault();
    $(".content").each(function(idx, el){
      if ($(el).parent().attr("id") == "slot_left" || $(el).parent().attr("id") == "slot_right"){
        var t_width = $('#main').width()-65;
        var t_height = $('#main').height();
      }else if ($(el).parent().attr("id") == "slot_top" || $(el).parent().attr("id") == "slot_bottom"){
        var t_width = $('#main').width()-20;
        var t_height = $('#main').height()-125;
      }else if ($(el).parent().attr("id") == "slot_topleft" || $(el).parent().attr("id") == "slot_topright") {
        var t_width = $('#main').width()-45;
        var t_height = $('#main').height()-130;
      }else if ($(el).parent().attr("id") == "slot_center") {
        var t_width = $('#main').width();
        var t_height = $('#main').height();
      }else if ($(el).parent().attr("id") == "slot_centertitle" || $(el).parent().attr("id") == "slot_subtitle") {
        var t_width = $('#main').width();
        var t_height = $('#main').height();
      }
      var width = $(el).width();
      var height = $(el).height();
      var perc_w = ((width/t_width)*100);
      var perc_h = ((height/t_height)*100);
      var name = $(el).parent().attr("id").replace("slot_","");
      $(el).append('<input id="frame_content_'+name+'_width" type="hidden" value="'+perc_w+'" name="frame[content]['+name+'][width]">')
      $(el).append('<input id="frame_content_'+name+'_height" type="hidden" value="'+perc_h+'" name="frame[content]['+name+'][height]">')
    });
  });
  $(window).keydown(function(event){
    switch(event.keyCode) {
    case 27: // Esc
      if ($("#editorhelp").attr("style") == "visibility: visible;") {
        $("#editorhelp").css('visibility','hidden');
      }
      break;
    case 72: // h
      activeObj = document.activeElement;
      if (activeObj.type == "textarea") break;
      if (activeObj.type == "text") break;
      if ($("#editorhelp").attr("style") == "visibility: visible;") {
        $("#editorhelp").css('visibility','hidden');
      } else {
        $("#editorhelp").css('visibility','visible');
      }
      break;
//    case 67: // c
//      if ($("#fancybox-wrap").is(":visible")) {
//        $.fancybox.close();
//      } else {
//        show_catalog();
//      }
//      break;
    case 83: // s
      if (event.ctrlKey){
        event.preventDefault();
        document.forms["edit_frame"].submit();
      }
      break;
    }
    console.log(event.keyCode);
  });
});
